@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: Consolas;
  src: url("../fonts/Consolas.ttf");
}

//main-color 6E00A1
$main-color: #6E00A1;

@import "./general";
@import "./header";

//home page
.main-content {
  margin-top: 50px;
  margin-bottom: 50px;
  .description {
    font-size: 16px;
  }
  .cheer-up {
    margin-top: 10px;
    font-size: 12px;
    color: #D39BF6;
  }
}

//contact page
.contact-page {
  margin-top: 50px;
}

//about page
.about-page {
  margin-top: 50px;
  .foto {
    margin-bottom: 50px;
  }

  .foto {
    img {

      max-width: 100%;
      margin-bottom: 15px;
    }
  }

  .my-education {
    margin-bottom: 70px;
    .sheva {
      margin-bottom: 30px;
    }
  }
  .my-experience {
    margin-bottom: 70px;
    .advanter {
      margin-bottom: 30px;
    }
  }
  .ux-skills {
    margin-bottom: 70px;
  }
  .tools {
    margin-bottom: 50px;
  }

  .my-interests {
    margin-bottom: 50px;
  }
}

// works page
.works-page {
  a {
    color: $main-color;
  }
  .card {
    margin-bottom: 50px;
  }
  .img {
    overflow: hidden;
    background-color: #cccccc;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
    }
  }
}

//Aroma Kava
.aroma-kava {
  .title-aroma {
    .tags-aroma {
      margin-bottom: 20px;
    }
    .project-info {
      margin-bottom: 50px;
    }
    .title-aroma-photo {
      margin-bottom: 50px;
    }
  }
  .brief-aroma {
    margin-bottom: 50px;
  }

  .HCD-aroma {
    margin-bottom: 50px;
  }

  .cases-aroma {
    margin-bottom: 50px;
  }

  .proto-aroma {
    margin-bottom: 50px;
  }
}

//spas page
.spas-page {
  .title-spas {
    .tags-spas {
      margin-bottom: 20px;
    }
    margin-bottom: 50px;
  }

  .work-plan-spas {
    margin-bottom: 50px;
  }

  .personas-spas {
    margin-bottom: 50px;
  }

  .heuristic-spas {
    margin-bottom: 50px;
  }

  .testing-spas {
    margin-bottom: 50px;
  }

  .prot-spas {
    margin-bottom: 50px;
  }
}

//textile page
.textile-page {
  .title-textile {
    margin-bottom: 50px;
  }
  .tags-textile {
    margin-bottom: 20px;
  }
  .photo-textile {
    margin-bottom: 50px;
    overflow: hidden;
    width: 100%;
  }
}

//salateria page
.salateria {
  .title-salateria {
    margin-bottom: 50px;
    .tags-salateria {
      margin-bottom: 20px;
    }
  }

  .work-plan-salateria {
    margin-bottom: 50px;
  }

  .chat-bot-salateria {
    margin-bottom: 50px;
  }

  .proto-salateria {
    margin-bottom: 50px;
  }
}

@import "./footer";
@import "./media";